---
---

$large-breakpoint: 74em !default;
$header-bg-color: #1b1b2b !default;
$header-bg-color-secondary: #a36201 !default;

@import "{{ site.theme}}";

.page-header {
	background-image: url("../../images/17r4avs9zid3vjpg.jpg"), linear-gradient(120deg, $header-bg-color, $header-bg-color 30%, $header-bg-color-secondary);
	background-position: center;
	background-repeat: no-repeat;
}
