---
---

$large-breakpoint: 74em !default;
$header-bg-color: #a36201 !default;
$header-bg-color-secondary: #333 !default;

@import "{{ site.theme}}";

.page-header {
	color: $header-heading-color;
	text-align: center;
	background-color: $header-bg-color;
	background-image: url("../../images/17r4avs9zid3vjpg.jpg") no-repeat center center;
	background-size: cover;


	@include large {
		padding: 5rem 6rem;
	}

	@include medium {
		padding: 3rem 4rem;
	}

	@include small {
		padding: 2rem 1rem;
	}
	
		&.before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right, $header-bg-color, $header-bg-color-secondary);
		opacity: .6;
	}
}
